#============= logd ==============
allow logd unlabeled:file { read getattr open };

#============= cmhw ==============
type display_sysfs, sysfs_type, file_type;
type vibeamp_sysfs, sysfs_type, file_type;
