#============= irsc_util ==============
allow irsc_util self:file { read getattr open };
allow irsc_util self:dir search;

#============= netd ==============
# allow netd unlabeled:dir { read search open };
# allow netd unlabeled:file { read write getattr open };

#============= netmgrd ==============
# allow netmgrd unlabeled:file { read getattr open write };
# allow netmgrd unlabeled:dir search;

#============= rild ==============
allow rild rild_exec:file { read getattr open };
allow rild rild_exec:dir search;

#============= rmt_storage ==============
allow rmt_storage ssd_device:blk_file { read write open };
allow rmt_storage rmt_storage_exec:file { read getattr open };
allow rmt_storage rmt_storage_exec:dir search;
