# Create sockets under each /dev/socket/qmux_* directory.
allow qmuxd qmuxd_socket:dir w_dir_perms;
allow qmuxd qmuxd_socket:sock_file create_file_perms;

# /dev/hsicctl* node access
allow qmuxd radio_device:chr_file rw_file_perms;

# wake lock access
wakelock_use(qmuxd)

# Access to /sys/devices/virtual/smdpkt/smdcntl*/open_timeout
allow qmuxd sysfs_smd_open_timeout:file rw_file_perms;

# Qualcomm Management Interface Multiplexer
type qmux, domain;
type qmux_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qmux)

# Create sockets under each /dev/socket/qmux_* directory.
allow qmux qmuxd_socket:dir w_dir_perms;
allow qmux qmuxd_socket:sock_file { create setattr getattr unlink };

# /dev/hsicctl* node access
allow qmux radio_device:chr_file rw_file_perms;

# wake lock access
allow qmux sysfs_wake_lock:file rw_file_perms;

# Access to /sys/devices/virtual/smdpkt/smdcntl*/open_timeout
allow qmux sysfs_smdcntl_open_timeout:file rw_file_perms;

# Allow DIAG
allow qmux diag_device:chr_file rw_file_perms;

allow qmuxd location_qmuxd_socket:sock_file { getattr unlink };
allow qmuxd rild_qmuxd_socket:sock_file { getattr unlink };
allow qmuxd sysfs_smdcntl_open_timeout:file { write open };
allow qmuxd thermal-engine_qmuxd_socket:sock_file { getattr unlink };
allow qmuxd unlabeled:file { read getattr open };
allow qmuxd netmgrd_qmuxd_socket:sock_file getattr;
