# opens and reads /dev/block/mmcblk0
allow rmt_storage block_device:dir r_dir_perms;

# Allow reads/writes to modem related block devices
allow rmt_storage modem_efs_partition_device:blk_file rw_file_perms;
allow rmt_storage ssd_device:blk_file rw_file_perms;

# Wake lock access
wakelock_use(rmt_storage)
