allow system_app ctl_default_prop:property_service set;

userdebug_or_eng(`
  allow system_app debugfs:file r_file_perms;
')

# CMHW Vibration
allow system_app vibeamp_sysfs:file rw_file_perms;
