allow untrusted_app sysfs_hardware:file rw_file_perms;
allow untrusted_app unlabeled:dir search;
allow untrusted_app unlabeled:file { read write getattr open };
